
{{user.username}}
<div>User Movie List to be Implemented</div>

{{#each examples}}
  <li data-id="{{this.id}}" class="list-group-item">
    <a href="example/{{this.id}}">{{this.Title}}</a>
    <button class="btn btn-danger float-right delete">ｘ</button>
  </li>
{{/each}}